{"filter":false,"title":"requirements.txt","tooltip":"/scaffold/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":10},"end":{"row":4,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"38768b087dc261e1f4d38682b5044809f2507044","mime":"text/plain","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":4,"column":10},"action":"insert","lines":["pylint","pytest","click","black","pytest-cov"],"id":3}]]},"timestamp":1675976851177}